/*Top Header*/

.top-header{
    margin:30px 0;
}


.top-header h1{
    font-size: 3em;
}


/*Product*/

.product-container{
    max-width: 800px;
    width:100%;
    margin:0 auto;
    position: relative;
}


.prodDisplay-wrapper{
    display:flex;
    flex-direction: row;
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}

.prod-wrapper img{
    width: 100%;
    height: auto;
}


.prod-wrapper{
    background-color: #f5f5f5;
    width: 100%;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
  

.value{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.link-prod{
    width:25%;
    margin:3px;
    text-decoration: none;
    color:#000;
}

.bottom-pic{
    
    background-color: white;
    padding-bottom: 4px;
}

.bottom-pic p{
    margin:5px

}


/*View of Product*/


.detail-wrapper{
    padding-left: 20px;
}

.view-item{
    display:flex;
    max-width:800px;
    margin:0 auto;
}


.img-item{
    width:300px;
}

.item-description{
    position: relative;
    top:60px;
    text-align: left;
    line-height: 2;
}

.item-description h2{
    font-size:3.5em;
}


.item-description h1{
    font-size:2em;
}

.size{
    display: flex;
}

.summary{
    margin-top:3em;
    border-top:1px solid lightgrey;
    padding-top:3em;
    line-height: 3;
}

.details{
    line-height: 3;
}